<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 태그의 namespace 속성 필수 작성 -->
<mapper namespace="UserDAO">

	<select id="findById" parameterType="String" resultType="user">
		SELECT * FROM CUSTOMER WHERE CUST_ID = #{id }
	</select>

	<select id="findOne" parameterType="user" resultType="user">
		 SELECT * FROM CUSTOMER WHERE CUST_ID = #{cust_id } AND CUST_PWD = #{cust_pwd } 
	</select>
	
	<insert id="save" parameterType="user">
		INSERT INTO CUSTOMER 
		(cust_id, cust_pwd, cust_email, cust_phone, cust_level, cust_addr, cust_nickname, cust_login_type, cust_key)
		VALUES
		(#{cust_id} , #{cust_pwd}, #{cust_email}, #{cust_phone}, '새싹', #{cust_addr},
		 #{cust_nickname}, #{cust_login_type}, #{cust_key})
	</insert>
	
	<update id="update" parameterType="user">
		   UPDATE CUSTOMER
		   SET CUST_PWD = #{cust_pwd},
		       CUST_EMAIL = #{cust_email},
		       CUST_PHONE = #{cust_phone},
		       CUST_LEVEL = #{cust_level},
		       CUST_ADDR = #{cust_addr},
		       CUST_NICKNAME = #{cust_nickname},
		       CUST_KEY = #{cust_key}
		 WHERE CUST_ID = #{cust_id}
	</update>
	
	<delete id="delete" parameterType="String">
		DELETE
		FROM CUSTOMER
		WHERE CUST_ID = #{id}
	</delete>
	
</mapper>  