<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 태그의 namespace 속성 필수 작성
<mapper namespace="ZzokjiDAO">
	<select id="zzopki_count" parameterType="String">
	SELECT COUNT(*) FROM ZZOKJI WHERE ZZOKJI_FROM_ID = #{zzokji_from_id};
	</select>
	
</mapper>   -->