<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="user" type="com.odi.biz.user.UserVO" />
		<typeAlias alias="product"
			type="com.odi.biz.product.ProductVO" />
		<typeAlias alias="proReply"
			type="com.odi.biz.pro_reply.ProReplyVO" />
		<typeAlias alias="proAns"
			type="com.odi.biz.pro_answer.ProAnsVO" />
		<!-- 
		<typeAlias alias="zzokJi" type="com.odi.biz.zzokji.ZzokjiVO" />
		 -->
		<typeAlias alias="customer"
			type="com.odi.biz.join.CustomerVO" />
	</typeAliases>

	<mappers>
		<mapper resource="mappings/user-mapper.xml" />
		<mapper resource="mappings/product-mapper.xml" />
		<mapper resource="mappings/proReply_mapper.xml" />
		<mapper resource="mappings/proAns_mapper.xml" />
		<!-- 
		<mapper resource="mappings/zzokji-mapper.xml" />
		 -->
		<mapper resource="mappings/customer-mapper.xml" />
		<mapper resource="mappings/community-mapper.xml" />
	</mappers>
</configuration>




